{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
    }
    
    input[type=password], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
    }
    input[type=submit] {
      width: 100%;
      background-color: #e7e7e7;
      color: royalblue;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type=submit]:hover {
      background-color: black;
      color: white;
    }

    h1, td, ::placeholder{
        font-family:Arial, Helvetica, sans-serif;
    }

    a{
    color:royalblue;
    text-shadow: black;
    }

    body{
        background-image: url('https://images.unsplash.com/photo-1627037558426-c2d07beda3af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1275&q=80');
        background-attachment: fixed;
    }


    
    </style>
<body>
    
    <div class="card mx-auto my-5 d-flex justify-content-center align-items-center " style="width: 30rem; background-color: rgba(225, 225, 225, 0.1); backdrop-filter: blur(1rem); border: solid transparent; box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0, 0.5);">
        <div class="card-body my-auto display-middle">
            <h5 class="card-title text-center display-middle" style="color: white; font-style: italic;">L O G I N</h5>
                
                <div class = "login text-center display-middle">
                
                    <form method="POST" action="" class="text-center display-middle">
                        {% csrf_token %}
                        <table class="text-center display-middle">
                            <tr>
                                
                                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                            </tr>
                                    
                            <tr>
                                
                                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                            </tr>
                
                            <tr>
                                <td><input class="btn login_btn" type="submit" value="Login"></td>
                            </tr>
                        </table>
                    </form>
                
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}     
                        
                    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
